<!--The content below is only a placeholder and can be replaced.-->

 <h1>{{title}}</h1>

<form name="form1" method="post" action="">
  <fieldset>
      <p>
        <label>Email:
          <input type="text" name="cust_email" id="cust_email">
        </label>
      </p>
      <p>Please rate the following times from best (1) to worst (4)</p>
      <p>
			<app-option-select></app-option-select>		
      		Monday/Wednesday 10:10am-Noon
      </p>
      <p>
      		<app-option-select></app-option-select>     
      		Tuesday 6:00pm-9:00pm
      </p>
      <p>
       		 <app-option-select></app-option-select>  
      		Wednesday 6:00pm-9:00pm
      </p>
      <p>
			 <app-option-select></app-option-select>  
      		Tuesday/Thursday 10:10am-Noon
      </p>
      <p>
        <input type="submit" name="button" id="button" value="Submit">
        <input type="reset" name="button2" id="button2" value="Reset">
      </p>
  </fieldset>  
</form>
<p>&nbsp;</p>

